PORT=3000
NODE_ENV=production
FRONTEND_URL=https://tu-frontend.vercel.app

DB_HOST=
DB_PORT=3306
DB_USER=
DB_PASSWORD=
DB_NAME=bdblendlap

VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
VAPID_SUBJECT=mailto:soporte@blendlap.com
